@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #d1dedd;
    font-family: 'Poppins';
}

header{
    max-width: 1200px;
    margin: 40px auto;
    border-bottom: 1px solid #bbc7c7;
}

h1,h2,h3{
    color: #767f7e;
}

p{
    color: #828b8a;
}

.grid-container{
    max-width: 1200px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
}

img{
    width: 100%;
    border: 5px solid white;
    border-radius: 5px;
}

.featured{
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    border-bottom: 1px solid #bbc7c7;
    padding-bottom: 40px;
}

article p, article h3{
    margin: 20px 10px;
}

@media screen and (max-width:980px){
    .grid-container>article{
        grid-column: span 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        margin-left: 20px;
        margin-right: 20px;
    }
    header{
        padding-left:25px;
    }
}

@media screen and (max-width:800px){
    .grid-container>article{
        display:block;
        margin-left: 50px;
        margin-right: 50px;
    }
    header{
        padding-left: 50px;
    }
}

@media screen and (max-width:515px){
    .grid-container>article{
        margin: 0px 20px;
    }
    header{
        padding-left: 20px;
    }
}